# ThingSpeak Configuration Template
THINGSPEAK_CHANNEL_ID=0000000
THINGSPEAK_WRITE_API_KEY=YOUR_THINGSPEAK_WRITE_API_KEY

# WiFi Access Points Template
WIFI_SSID_1=YOUR_PRIMARY_SSID
WIFI_PASS_1=YOUR_PRIMARY_PASSWORD
WIFI_SSID_2=YOUR_BACKUP_SSID
WIFI_PASS_2=YOUR_BACKUP_PASSWORD
