#ifndef SECRETS_H
#define SECRETS_H

// ThingSpeak Credentials Placeholder
#define SECRET_CH_ID 0000000
#define SECRET_WRITE_API_KEY "YOUR_THINGSPEAK_WRITE_API_KEY"

// WiFi Credentials Definition
struct WifiCredential {
    const char* ssid;
    const char* password;
};

const WifiCredential WIFI_NETWORKS[] = {
    {"YOUR_PRIMARY_SSID", "YOUR_PRIMARY_PASSWORD"},
    {"YOUR_BACKUP_SSID", "YOUR_BACKUP_PASSWORD"}
};
const size_t NUM_WIFI_NETWORKS = sizeof(WIFI_NETWORKS) / sizeof(WIFI_NETWORKS[0]);

#endif
